*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.pageinate{
    width: 50%;
    height: 500px;
    background-color:gray;
}
.controls{
    width: 50%;
    margin: 10px auto;
   
    display: flex;
    justify-content: space-between;
    height: 30px;
}
button{
    padding: 5px 10px;
}