*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Advert_card{
    width: 90%;
    height: 400px;
    margin: 0px auto;
    border-radius: 20px;
    position: relative;
    top:70px;
    background-color: #030112;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@media screen and (max-width: 900px) {
    .Advert_card{
        width: 90%;
        height: 200px;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0 0 30px rgb(0, 0, 0, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    } 
}